NEXT_PUBLIC_APP_URL=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=


RETELL_API_KEY=

GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

GOOGLE_CALENDAR_ID=

RESEND_API_KEY=
RESEND_API_KEY=
OWNER_EMAIL=

npx plugins add vercel/vercel-plugin
Vercel URL : https://wrenlo-mvp.vercel.app/
DASHBOARD_URL =
